
body {
	margin: 0px;
	cursor: none;
}

.title {
	position: relative;	
	width: 100%;
	height: 100px;
	top: 20px;
	letter-spacing: 2px;
}

.title_odd {
/* 	background: linear-gradient(0deg, rgb(255, 255, 255) 81%, */
	background:red;		
	-webkit-transform-origin: left;
	-webkit-animation: titleSlideAnim 550ms cubic-bezier(.9, .1, .1, 1.2) both;
}

.title_even {
	background-color: white;
	-webkit-transform-origin: right;
	-webkit-animation: titleSlideAnim 550ms cubic-bezier(.9, .1, .1, 1.2) both;
}

.title_odd h1{
	font-size: 64px;
	margin-top: 0px;
	color: white;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.37);
	padding: 10px;
}

.title_even h1{
	font-size: 64px;
	margin-top: 0px;
	color: red;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.37);
	padding: 10px;
}

.main1 {
	
}

.menu-main ul{
	text-align: center;	
	padding:0px;
	width: 500px;
	margin-left: auto;
	
}

.menu-main li{
	height: 45px;
	width: 100px;	
	display: inline-block;
	padding:0;
	margin:0;
	
	color: rgba(255, 122, 0, 0.87);
	font-size: 20px;

	text-shadow: 0px 0px 14px rgba(255, 0, 0, 0.2);
	border-radius: 10px;
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 81%,
		rgb(255, 80, 0) 76%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 81%,
		rgb(255, 80, 0) 76%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 81%,
		rgb(255, 80, 0) 76%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 81%,
		rgb(255, 80, 0) 76%);
	background: linear-gradient(0deg, rgb(255, 255, 255) 81%,
		rgb(255, 80, 0) 76%);
	-webkit-box-shadow: 0px -1px 0px rgba(211, 50, 50, 0.50);
	-moz-box-shadow: 0px -1px 0px rgba(211, 50, 50, 0.50);
	box-shadow: 0px -1px 0px rgba(211, 50, 50, 0.50);
  
  	-webkit-animation: menuItemAnim 250ms 10ms both ;
 
}

.menu-main a{
	height: 35px;
	width:100px;
	display: inline-block;
	padding:0;
	margin-top:13px;
	}

.menu-main li:hover{
	-webkit-animation: menuItemHoverAnim 800ms both ;
}

@-webkit-keyframes menuItemHoverAnim {
  to {
  
  	text-shadow: 0px 4px 6px rgba(133, 4, 4, 0.46);
  	color: rgba(255, 20, 0, 1);
  	font-size: 20px;
	box-shadow:     0px 4px 5px rgba(255, 0, 0, .5);
	-webkit-box-shadow: 0px 1px 9px rgba(255, 0, 0, .5);
	-moz-box-shadow:    0px 1px 9px rgba(255, 0, 0, .5);
	
	
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 81%, rgb(255, 0, 0) 76%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 81%, rgb(255, 0, 0) 76%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 81%, rgb(255, 0, 0) 76%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 81%, rgb(255, 0, 0) 76%);
	background: linear-gradient(0deg, rgb(255, 255, 255) 81%, rgb(255, 0, 0) 76%);
	}
}

.menu-main li:ACTIVE{
	-webkit-animation: menuItemClickAnim 100ms 0ms both ;
	color: white;
	text-shadow: inset 0px 4px 6px rgba(255, 4, 4, 0.46);
}


@-webkit-keyframes menuItemClickAnim {
	
	from {	
	box-shadow:     0px 4px 5px rgba(255, 0, 0, .5);
	-webkit-box-shadow: 0px 4px 5px rgba(255, 0, 0, .5);
	-moz-box-shadow:    0px 9px 5px rgba(255, 0, 0, .5);
	text-shadow:  0px 4px 6px rgba(50, 00, 0, .2);
	background: -moz-linear-gradient(90deg, rgb(117, 147, 94) 81%,rgb(255, 0, 0) 76%);
	background: -webkit-linear-gradient(90deg, rgb(0, 100, 220) 81%,rgb(255, 0, 0) 76%);
	background: -o-linear-gradient(90deg, rgb(117, 147, 94) 81%,rgb(255, 0, 0) 76%);
	background: -ms-linear-gradient(90deg, rgb(117, 147, 94) 81%,rgb(255, 0, 0) 76%);
	background: linear-gradient(0deg, rgb(117, 147, 94) 81%, rgb(255, 0, 0)	76%);
}

to {
  	
  	box-shadow:     0px 4px 5px rgba(255, 0, 0, .5);
	-webkit-box-shadow: 0px 4px 5px rgba(255, 0, 0, .5);
	-moz-box-shadow:    0px 9px 5px rgba(255, 0, 0, .5);
	text-shadow:  0px 4px 6px rgba(50, 00, 0, .2);		
	background: red;
	
	}
}


@-webkit-keyframes menuItemAnim {
  0% {    
    -webkit-transform:  rotate(0deg)  ;
  }  
  30% {   
    -webkit-transform:  rotate(2deg)  ;
  }  
  60% {   
    -webkit-transform:  rotate(0deg)  ;
  }  
  90% {   
    -webkit-transform:  rotate(-2deg)  ;
  }  
  100% {
    -webkit-transform:  rotate(0deg) ;
  }  
}

@-moz-keyframes menuItemAnim {
  0% {    
    -moz-transform:  rotate(0deg)  ;
  }  
  30% {   
    -moz-transform:  rotate(2deg)  ;
  }  
  60% {   
    -moz-transform:  rotate(0deg)  ;
  }  
  90% {   
    -moz-transform:  rotate(-2deg)  ;
  }  
  100% {
    -moz-transform:  rotate(0deg) ;
  }  
}

@-o-keyframes menuItemAnim {
 0% {    
    -o-transform:  rotate(0deg)  ;
  }  
  30% {   
    -o-transform:  rotate(2deg)  ;
  }  
  60% {   
    -o-transform:  rotate(0deg)  ;
  }  
  90% {   
    -o-transform:  rotate(-2deg)  ;
  }  
  100% {
    -o-transform:  rotate(0deg) ;
  }  
}

@-ms-keyframes menuItemAnim {
  0% {    
    -ms-transform:  rotate(0deg)  ;
  }  
  30% {   
    -ms-transform:  rotate(2deg)  ;
  }  
  60% {   
    -ms-transform:  rotate(0deg)  ;
  }  
  90% {   
    -ms-transform:  rotate(-2deg)  ;
  }  
  100% {
    -ms-transform:  rotate(0deg) ;
  }  
}


@-webkit-keyframes scanAnim1 {
  0% {
    opacity:.1;
    transform:  rotate(0deg) scaleX(1) scaleY(.1) ;
  }
  3% {
    opacity:.3;
    transform:  rotate(0deg) scaleX(1) scaleY(.3) ;
  }
  6% {
    opacity:.5;
    transform:  rotate(0deg) scaleX(1) scaleY(.5) ;
  }
  9% {
    opacity:.7;
    transform:  rotate(0deg) scaleX(1) scaleY(.7) ;
  }
  10% {
    opacity:.7;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  90% {
    opacity:.7;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  91% {
    opacity:.7;
    transform:  rotate(0deg) scaleX(1) scaleY(.7) ;
  }
  94% {
    transform:  rotate(0deg) scaleX(1) scaleY(.5) ;
  }
  97% {
    opacity:.3;
    transform:  rotate(0deg) scaleX(1) scaleY(.3) ;
  }
  100% {
    opacity:.1;
    transform:  rotate(0deg) scaleX(1) scaleY(0.1) ;
    
  }   
  
  from{
  	margin-top: 100%  	
  }
  to{
  	margin-top: 0%
  }
  
}



@-webkit-keyframes mainAnim {
	from{
  	margin-top: 100%  	
  }
  
}


@-webkit-keyframes titleSlideAnim {
	from{
	-webkit-transform: scaleX(0);
  }
  to{
  	-webkit-transform: scaleX(1);
  }
}




.wallop-slider{
	position:relative;
	display:block;
	width: 800px;
	height: 400px;	
	overflow: hidden;
	margin: 0px auto;
}

.wallop-slider__list{
	width: inherit;
	height: inherit;	
}

.wallop-slider__item img{
	
}

.wallop-slider__item--current{
	
}

.wallop-slider__item--show-previous,
.wallop-slider__item--show-next{
	
}

.wallop-slider__item--hide-previous,
.wallop-slider__item--hide-next {
	
}

.wallop-slider__btn--previous{
	position: relative;	
	float : left;
}

.wallop-slider__btn--next{
	position: relative;
	float : right;
}



.sitemap {
	background: crimson;
	height: 3em;
	position: relative;
	top: 36px;
	margin: auto 15%;
}

.sitemap_immobile{
	display: inline-block;
	width: 25%;
	text-align: center;
	height: 3em;
	margin: auto -2px;	
	background: aliceblue;
	box-shadow: inset 0px 11px 45px 4px rgba(138,0,23,1);
}

.sitemap_mobile{	
	width: 100%;
	height: 100%;
	position: relative;
	top: -50px;
	background: linear-gradient(to right, rgba(213, 0, 0, 1) 0%,rgba(255, 100, 100, 1) 3%,rgba(255, 255, 255, 1) 51%,rgba(255, 100, 100, 1) 97%,rgba(207, 0, 0, 1) 100%);
	box-shadow: -1px 7px 25px 1px rgba(0, 0, 0, 0.32), inset 0px -21px 1px 2px rgba(150, 88, 10, 0.22);	
/* 	-webkit-animation: sitemapAnim 500ms cubic-bezier(.4,.86,.62,.95) both ; */
	transition:950ms;
	height:3em;
}

.sitemap_immobile:hover .sitemap_mobile {	
/* 	-webkit-animation: sitemapHoverAnim  500ms cubic-bezier(.4,.86,.62,.95) forwards ; */
	transition:950ms;
	height:10px;
  	margin-bottom: 10px;
}

.sitemap a{
	position: relative;
	padding: 15px 0px 15px 0px;
	width: 100%;
	display: block;
}

#anchor-4 p {
	font-family: sans-serif;
	font-size: large;
	font-variant: small-caps;
	color: white;
	top: 70px;
	position: relative;
	text-align: center;
}

/* @-webkit-keyframes sitemapHoverAnim {	 */
/*   to{ */
/*   	height:10px; */
/*   	margin-bottom: 10px; */
/*   } */
/* } */

/* @-webkit-keyframes sitemapAnim {	 */
/*   from{ */
/*   	height:10px; */
/*   } */
  
/*   to{ */
/*   	height:3em; */
/*   } */
/* } */



.social{
	position: relative;
	margin: auto;
	width: 180px;
	height: 60px;
	display: flex;
	padding: 30px;
	top: 90px;
	transition:1500ms 1000ms cubic-bezier(.4,.86,.62,.95);
	
}

.social:hover{
	top:45px;
	transition:500ms;
}

.social:active{
/* 	top:65px; */
}

.social div{
	box-shadow: 0px 49px 33px -7px rgba(49, 49, 49, 0.43);
	border-radius: 30px;
}

.social a.facebook {
	background-image: url('img/social_sprites.png');
	color: transparent;
	background-position: 0px 60px;
	width: 60px;
	height: 60px;
	display: block;
	
}

.social a.facebook:hover {
	background-position: 0px 0px;
}

.social a.twitter {
	background-image: url('img/social_sprites.png');
	background-position: -62px 61px;
	color: transparent;
	width: 60px;
	height: 60px;
	display: block;
	
	
}
.social a.twitter:hover {
	background-position: -62px 1px;
}

.social a.youtube {
	background-image: url('img/social_sprites.png');
	background-position: 60px 62px;
	color: transparent;
	width: 60px;
	height: 60px;
	display: block;
	
}

.social a.youtube:hover {
	background-position: 60px 2px;
}